# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Packaging
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*-checkpoint.ipynb

# macOS
.DS_Store

# Unit test / coverage reports
htmlcov/
.coverage*
coverage.xml
tests/coverage_report/
.pytest_cache/

# Project-specific
src/photozpy/calibration/testing_files/
