*checkpoints
*egg_info/*
.gitingore
photozpy.egg-info/
*__pycache__
*.DS_Store*
src/photozpy/calibration/testing_files/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.coverage*
coverage.xml
tests/coverage_report/

# Pytest cache
.pytest_cache/
